{% extends "baseSesion.html" %}
{% block titulo %} Iniciar Sesión {% endblock %}
{% block contenido_principal %}
	<main class="form-signin">
		<form method="post" action="/identificarse" >
			<img class="mb-4" src="static/logo-wallapop.png" alt="" width="300"
				height="127">
			<h1 class="h3 mb-3 fw-normal" >Iniciar
				Sesión</h1>
			<label for="inputEmail" >Email:</label>
			<input type="email" id="inputEmail" class="form-control" name="email">
			<label for="inputPassword">Contraseña:</label>
			<div class="col-sm-100">
				<input type="password" id="inputPassword" class="form-control"
					name="password" > <span></span> <span class="text-danger"></span>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit"
				>Iniciar Sesión</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
		</form>
	</main>
