<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<link rel="icon" href="img/logowalla.png" type="image">
<title>MyWallapop</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>


<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

	<main class="form-signin">
		<form method="post" action="/login" th:object="${user}">
			<img class="mb-4" src="img/logo-wallapop.png" alt="" width="300"
				height="127">
			<h1 class="h3 mb-3 fw-normal" th:text="#{login.title}">Iniciar
				Sesión</h1>
			<label for="inputEmail" th:text="#{login.email}">Email:</label> <input
				type="email" id="inputEmail" class="form-control" name="username"
				th:placeholder="#{login.emailPlace}"> <label for="inputPassword"
				th:text="#{login.password}">Contraseña:</label>
			<div class="col-sm-100">
				<input type="password" id="inputPassword" class="form-control"
					name="password" th:placeholder="#{login.passwordPlace}"> <span
					th:text="${message}"></span> <span class="text-danger"
					th:if="${error != null}" th:text="${error}"></span>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit"
				th:text="#{login.login}">Iniciar Sesión</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
		</form>
	</main>



</body>
</html>
