{% extends "base.html" %}

        <link href="css/signin.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
	<main class="form-signin">
	  <form method="post" action ="/signup" th:object="${user}">
	   <img class="mb-4" src="img/logo-wallapop.png" alt="" width="300" height="127">
	    <h1 class="h3 mb-3 fw-normal" th:text="#{signup.register}">Regístrate como usuario</h1>
	    <label for="inputEmail" th:text="#{signup.name}">Nombre:</label>
	    <div class="col-sm-100">
	    	<input type="text" id="inputName" class="form-control" name="name" th:placeholder="#{signup.namePlace}">
	    		<span
				class="text-danger" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}"></span>
		</div>
	    <label for="inputEmail" th:text="#{signup.surname}">Apellidos:</label>
	    <div class="col-sm-100">
	    	<input type="text" id="inputSurname" class="form-control" name="lastName" th:placeholder="#{signup.lastNamePlace}">
	    		<span
				class="text-danger" th:if="${#fields.hasErrors('lastName')}"
				th:errors="*{lastName}"></span>
		</div>
	    <label for="inputEmail" th:text="#{signup.email}">Email:</label>
	    <div class="col-sm-100">
	    	<input type="text" id="inputEmail" class="form-control" name="email" th:placeholder="#{signup.emailPlace}">
	    	<span
				class="text-danger" th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}"></span>
		</div>
	    <label for="inputPassword" th:text="#{signup.password}">Contraseña:</label>
	    <div class="col-sm-100">
	    	<input type="password" id="inputPassword" class="form-control" name="password" th:placeholder="#{signup.passPlace}">
	    	<span
				class="text-danger" th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}"></span>
		</div>
	    <label for="inputPassword" th:text="#{signup.repeatPassword}">Repita la contraseña:</label>
	    <div class="col-sm-100">
	    	<input type="password" id="inputPassword2" class="form-control" name="passwordConfirm" th:placeholder="#{signup.pass2Place}">
	    	<span
				class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
				th:errors="*{passwordConfirm}"></span>
		</div>
	    <button class="w-100 btn btn-lg btn-primary" type="submit" th:text="#{signup.registerButton}">Registrarse</button>
	    <p class="mt-5 mb-3 text-muted">&copy; 2021–2022</p>
	  </form>
	</main>


    
  </body>
</html>