<!doctype html>
<html lang="es" class="h-100">
<head th:replace="fragments/head" />
<body class="d-flex h-100 text-center text-white bg-dark">
    
<nav th:replace="fragments/nav"></nav>
<div class="container">
		<form class="navbar-form searchS" action="/user/list">
				<input name="searchText" type="text" class="form-control"  style="width: 60%; margin-left: 40px" size="50"
					placeholder="Buscar por Nombre o Apellidos">
				<button class="btn btn-lg btn-primary" name="search_button" style="width: 30%; margin-left: 10px" type="submit" th:text="#{listAll.searchButton}">Buscar</button>
		</form>
		<div class="container">
		<h2 th:text="#{listAll.users}">Usuarios</h2>
		<p th:text="#{listAll.currentUsers}">Los usuarios que actualmente figuran en el sistema son los siguientes:</p>
		<div class="table-responsive">
		
		<form action="/user/delete">
			<table id="userTable" class="table white">
				<thead>
					<tr>
						<th th:text="#{listAll.select}">Seleccionar</th>
						<th th:text="#{listAll.email}">Email</th>
						<th th:text="#{listAll.name}">Nombre</th>
						<th th:text="#{listAll.lastName}">Apellidos</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td>
							<input type="checkbox" th:value="${user.id}" name="checkbox">
						</td>
						<td th:text="${user.email}">Email</td>
						<td th:text="${user.name}">Nombre</td>
						<td th:text="${user.lastName}">Apellidos</td>
					</tr>
				</tbody>
			</table>
				<button class="btn btn-lg btn-primary" style="width: 30%; margin-left: 10px" type="submit" name = "buttonEliminar" th:text="#{listAll.deleteButton}">Eliminar</button>
			</form>
		</div>
</div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>