{% extends "../base.html" %}
{% block titulo %} Lista usuarios {% endblock %}
{% block contenido_principal %}
		<form class="navbar-form searchS" action="/usuarios/buscar">
				<input name="searchText" type="text" class="form-control btn-text "  style="width: 60%; margin: auto;" size="50"
					placeholder="Buscar por Nombre o Apellidos">
				<button class="btn btn-lg btn-primary btn-text" name="search_button" style="width: 30%; margin-left: 10px" type="submit" >Buscar</button>
		</form>
		<div class="container">
		<h2>Usuarios</h2>
		<p >Los usuarios que actualmente figuran en el sistema son los siguientes:</p>
		<div class="table-responsive">
		
		<form action="/usuarios/eliminar" method="post">
			<table id="userTable" class="table white">
				<thead>
					<tr>
						<th >Seleccionar</th>
						<th >Email</th>
						<th >Nombre</th>
						<th >Apellidos</th>
					</tr>
				</thead>
				<tbody>
				{% for usuario in usuarios %}
						<td>
							<input type="checkbox" value={{usuario._id.toString()}} name="deleteUser">
						</td>
						<td> {{usuario.email}} </td>
						<td>{{usuario.name}}</td>
						<td>{{usuario.lastName}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
				<button class="btn btn-lg btn-primary btn-text" name ="buttonEliminar" style="width: 30%; margin-left: 10px" type="submit">Eliminar</button>
			</form>
		</div>
</div>
