{% extends "../base.html" %}
{% block titulo %} Listado Compras {% endblock %}
{% block contenido_principal %}
<div class="container">
	<h2 >Ofertas Compradas</h2>
	<p >Las ofertadas compradas que figuran en el sistema son las siguientes:</p>
	<div class="table-responsive">
		<table class="table white">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Detalle</th>
					<th>Precio</th>
					<th>Email del Vendedor</th>
				</tr>
			</thead>
			<tbody>
			{% for item in itemsListPurchased %}
					<td>{{item.title}}</td>
					<td>{{item.description}}</td>
					<td>{{item.amount}}</td>
					<td>{{item.user.email}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>