{% extends "../base.html" %}
{% block titulo %} Listado Ofertas {% endblock %}
{% block contenido_principal %}
<div class="container">
		<form class="navbar-form searchS" action="/items/listAll">
				<input name="searchText" type="text" class="form-control btn-text" placeholder="Buscar por título" style="width: 60%; margin: auto;" size="50">
				<button class="btn btn-lg btn-primary btn-text" name="search_button" style="width: 30%; margin-left: 10px" type="submit" >Buscar</button>
		</form>
		<div class="container">
			<h2>Ofertas</h2>
			<p>Las ofertas que actualmente figuran en el sistema son las siguientes:</p>
			<div class="table-responsive">
				<table class="table white">
					<thead>
						<tr>
							<th >Titulo</th>
							<th >Description</th>
							<th >Precio</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for item in itemList %}
								<td >Texto descriptivo de la oferta</td>
								<td >Detalle de la oferta</td>
								<td >Cantidad solicitada (euros)</td>
								<td>
									{% if item.comprador == null %}
										<form method="post" action ="/offers/comprar/" item.id+ {{item.id}}}>
											<button class="btn btn-lg btn-primary" style="margin-left: 10px" name="buttonComprar" type="submit" >Comprar</button>

										</form>
									{% else %}
										<button class="btn btn-lg btn-primary" style="margin-left: 10px"  >Comprado</button>
									{% endif %}
								</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
</div>