{% extends "../base.html" %}
{% block titulo %} Mis Ofertas {% endblock %}
{% block contenido_principal %}
<div class="container">
	<h2>Tus Ofertas</h2>
	<p>Tus ofertadas que figuran en el sistema son las siguientes:</p>
	<div class="table-responsive">
		<table class="table white">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Detalle</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for item in itemsListMine %}
					<td>{{item.title}}</td>
					<td>{{item.description}}</td>
					<td>{{item.amount}}</td>
					<td><a href='/items/delete/' + {{item.id}}>eliminar</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>