{% extends "../base.html" %}
{% block titulo %} Mis Ofertas {% endblock %}
{% block contenido_principal %}
<div class="container">
	<h2>Tus Ofertas</h2>
	<p>Tus ofertadas que figuran en el sistema son las siguientes:</p>
	<div class="table-responsive">
		<table class="table white">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Detalle</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for oferta in ofertas %}
					<td>{{oferta.titulo}}</td>
					<td>{{oferta.descripcion}}</td>
					<td>{{oferta.precio}}€</td>
					{% if oferta.comprador != null %}
						<td>oferta ya vendida</td>
					{% else %}
						<td><a href='/oferta/eliminar/{{oferta._id.toString()}}'>eliminar</a></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>