{% extends "../base.html" %}
{% block titulo %} Mis Ofertas {% endblock %}
{% block contenido_principal %}
<div class="container">
	<h2>Tus Ofertas</h2>
	<p>Tus ofertadas que figuran en el sistema son las siguientes:</p>
	<div class="table-responsive">
		<table class="table white">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Detalle</th>
					<th>Precio</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for oferta in ofertas %}
					<td>{{oferta.titulo}}</td>
					<td>{{oferta.descripcion}}</td>
					<td>{{oferta.precio}}€</td>
					{% if oferta.comprador != null %}
						<td>oferta ya vendida</td>
					{% else %}
						<td><a href='/oferta/eliminar/{{oferta._id.toString()}}'>eliminar</a></td>
			<td>
				{% if oferta.destacada == true %}
				<div>
					<form method="post" action ='/oferta/nodestacar/{{oferta._id.toString()}}'>
						<button class="btn btn-lg btn-primary" style="margin-left: 10px;background-color: #f44336; border-color:#f44336 " name="buttonDejarDeDestacar" type="submit" >Dejar de destacar</button>
					</form>
				</div>
				{% elseif Number(saldo) >= 20 %}
				<div>
					<form method="post" action ='/oferta/destacar/{{oferta._id.toString()}}'>
						<button class="btn btn-lg btn-primary" style="margin-left: 10px" name="buttonDestacar" type="submit">Destacar</button>
					</form>
				</div>
				{% elseif Number(saldo) < 20 %}
				<div>
					<form method="post" action ='/oferta/destacar/{{oferta._id.toString()}}'>
						<button class="btn btn-lg btn-primary" style="margin-left: 10px" name="buttonDestacar" type="submit" disabled>Destacar</button>
					</form>
				</div>
				{% endif %}
			</td>
					{% endif %}

				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>